*{
    font-family: "Source Sans Pro", sans-serif;
    color: #7e8690;
    margin:0px;
    padding:0px;
}

*, ::after, ::before {
    box-sizing: border-box;
}




/* NAVIGATION BAR */





.backcolor{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #2e3238;
    padding:20px 32px;
}



.navbar{
    /* padding:20px 16px;     */
    margin-left: 180px;
    margin-right: 180px;
}


.choices{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
}

.nav_brand{
    color: #fff;
    font-weight: 700;
    font-size: 22px;
}

.sections{
    padding-left: 30px;
}

.home{
    margin-left: 270px;
}

.choices li a{
    text-decoration: none;
}

.sections a{
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 16px;
    transition-duration: 0.25s;
}

.sections:hover a{
    color: #007bff;

}

.dropdown{
    position: relative;
    transition-duration: 0.25s;
}

.blog{
    position: relative;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 16px;
    padding-left: 30px;
    transition-duration: 0.25s;

}

.blog:hover{
    color: #007bff;

}

.dropdown_menu{
    position: absolute;
    width:240px;
    left: 0px;
    top: 150%;
    border-top: 3px solid #4869e8;
    background: #111;
    visibility: hidden;
}


.dropdown_menu li{
    list-style-type: none;
}

.dropdown:hover .dropdown_menu{
    visibility: visible;
}


.drop{
    padding: 9px 23px;
    font-size: 14px;
    transition-duration: 0.25s;
}

.drop a{
    color: #fff;

}

.drop:hover{
    background-color: #007bff;
}

.quotebar{
    padding-left: 30px;

}


.quote{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 13px;
    background: #4869e8;
    color: #fff;
    letter-spacing: 1px;
}

.quote ion-icon{
    color: #fff;
}






/* SECTION BIG TITLE */







.main_box{
    box-sizing: border-box;
}




.slider{
    background: url("./About_Media_files/banner-1.jpg") no-repeat 50% 50%;
    background-size: cover;
    height:450px;
    padding-top: 140px;
    padding-bottom: 60px;
    background-position:center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 24, 33, 0.75);
}



.container1{
    /* height: 250px;
    width: 100%; */
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin-left: 350px;
    margin-right: 350px;

}


.title2{
    font-size: 50px;
    line-height: 70px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    /* margin-top: 20px; */
}






/* SECTION ABOUT */






.overtitle{
    padding:100px 0px;
}


.container{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}


.col{
    text-align: center;
    width: 80%;
    margin-bottom: 70px;
    
}


.col h2{
    font-family: "Montserrat", sans-serif;
    color: #111;
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 24px;
    font-weight: 800;
    text-transform: capitalize;
}

.col p{
    color: #7e8690;
    margin-bottom: 16px;
    line-height: 1.7em;
    font-weight: 400;
    font-size: 20px;
}



.comp2{
    display: flex;
    justify-content: center;
    
}





.col2{
    height:400px;
    width: 310px;
    border: 1px solid #fff;
    border-radius:4px;
    margin: 16px;
}

.img1{
    background-image: url("./About_Media_files/bg-1.jpg");
    background-size: cover;
    height: 50%;
}

.img2{
    background-image: url("./About_Media_files/about.jpg");
    background-size: cover;
    height: 50%;

}


.img3{
    background-image: url("./About_Media_files/home-8.jpg");
    background-size: cover;
    height: 50%;

}


.col2 h3{
    font-size: 20px;
    line-height: 32px;
    font-family: "Montserrat", sans-serif;
    color: #111;
    font-weight: 800;
    text-transform: capitalize;
    margin-top: 24px;
    margin-bottom: 16px;
}

.col2 p{
    color: #7e8690;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.166667px;
    line-height: 1.7em;
}





/* SECTION COUNTER */







.overtitle2{
    padding:100px 0px;
    background-image: url("./About_Media_files/banner-1.jpg");
    background-size: cover;
    position: relative;
}


.overtitle2::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #4869e8;
    opacity: .95;

}

.comp3{
    position: relative;
}



.container3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.col3{
    text-align: center;
    margin: 0px 80px;
}



.col3 h3{
    color:#fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
}



.col3 h3 span{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 50px;
    color:#fff;
}



.indications ion-icon{
    color:#fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    font-size:40px;

}

.col3 p{
    color: rgba(255,255,255,.5);
}






/* SECTION TEAM */








.overtitle7{
    padding:100px 0px;
}


.container9{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}


.col13{
    text-align: center;
    width: 50%;
    margin-bottom: 70px;
    
}


.col13 h2{
    font-family: "Source Sans Pro", sans-serif;
    color: #111;
    font-size: 53px;
    line-height: 63px;
    margin-bottom: 24px;
    font-weight: 800;
    text-transform: capitalize;
}

.col13 p{
    color: #7e8690;
    margin-bottom: 16px;
    line-height: 1.7em;
}


.container10{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 130px;
    margin-right: 130px;
}

.centering{
    margin: 0px 16px;
}



.col14{
    height: 350px;
    width: 350px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.team1{
    background-image: url("./Media_files/team-1.jpg");
    background-size: cover;

}

.team2{
    background-image: url("./Media_files/team-2.jpg");
    background-size: cover;

}

.team3{
    background-image: url("./Media_files/team-3.jpg");
    background-size: cover;
}

.team4{
    background-image: url("./Media_files/team-4.jpg");
    background-size: cover;

}

.team5{
    background-image: url("./Media_files/team-1.jpg");
    background-size: cover;

}

.team6{
    background-image: url("./Media_files/team-2.jpg");
    background-size: cover;

}


.col15{
    text-align: center;
    height: 120px;
    width: 325px;
    border: 1px solid transparent;
    background: #fff;
    opacity: .97;
    border-radius: 8px;
    padding: 15px 0px;
    position: relative;
    left:12.5px;
    top: -60px;

}

.col15 p{
    font-size: 14px;
    color: #7e8690;
    margin-bottom: 4px;
}

.col15 h3{
    font-size: 20px;
    line-height: 32px;
    font-family: "Montserrat", sans-serif;
    color: #111;
    font-weight: 800;
    margin-bottom: 8px;
}

.socialmedia{
    margin-top: 8px;
}

.sm{
    margin: 8px;
}

.sm ion-icon{
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Font Awesome 5 Brands';
    line-height: 1;
    font-size: 16px;
    transition: color 0.25s;
}

.sm:hover ion-icon{
    color: #4869e8;

}







/* SECTION TESTIMONIALS */







.backimg{
    background-image: url("./About_Media_files/about-modern-img-1.jpg");
    background-size: cover;
    background-position: center;
    height:550px;
    padding: 100px 0px;
}

.comp4{
    width: 40%;
    margin-left: 200px;
    margin-top: 50px;
}



.col4{
    text-align: center;

}

.col4 ion-icon{
    font-size: 50px;
    color: #4869e8;
    font-family: 'themify';
}

.testi{
    color: #7e8690;
    font-size: 18px;
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.col4 h5{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 26px;
    font-family: "Montserrat", sans-serif;
    color: #111;
    font-weight: 800;
}

.dev{
    font-size: 18px;
    line-height: 32px;
    color: #7e8690;
    margin-bottom: 16px;
}







/* SECTION PARTNERS */







.overtitle4{
    padding:100px 0px;
}


.container4{
    margin: 0px 200px;
}


.col5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.part{
    height:120px;
    width: 200px;
    border: 1px solid transparent;
    margin: 16px;
}


.ig1{
    background-image: url("./About_Media_files/key-vision1.png");
    background-size: cover;
    background-position: center;
}


.ig2{
    background-image: url("./About_Media_files/key-vision2.png");
    background-size: cover;
    background-position: center;
}


.ig3{
    background-image: url("./About_Media_files/key-vision3.png");
    background-size: cover;
    background-position: center;
}


.ig4{
    background-image: url("./About_Media_files/key-vision4.png");
    background-size: cover;
    background-position: center;
}



.ig5{
    background-image: url("./About_Media_files/key-vision5.png");
    background-size: cover;
    background-position: center;
}



.ig6{
    background-image: url("./About_Media_files/key-vision1.png");
    background-size: cover;
    background-position: center;
}


.ig7{
    background-image: url("./About_Media_files/key-vision2.png");
    background-size: cover;
    background-position: center;
}


.ig8{
    background-image: url("./About_Media_files/key-vision3.png");
    background-size: cover;
    background-position: center;
}






/* FOOTER */







.overtitle10{
    padding: 100px 0px;
    background: #24282f;
}    



.col22{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}



.content{
    height:300px;
    width:250px;
    border: 1px solid transparent;
    margin: 16px;
}

.sr{
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 24px;
}


.suprt{
    text-decoration: none;
    color: #fff;

}


.springs{
    margin-top: 24px;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.number{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
}


.company{
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    margin-bottom: 24px;
}


.companydetails{
    list-style-type: none;
    line-height: 35px;
}

.companydetails li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

/* .cy2{
    text-align: center;
    margin-left: 64px;
}


.cd2{
    text-align: center;
} */


.sm3 li a ion-icon{
    margin-right: 8px;
}


.container15{
    text-align: center;
    margin:0px 200px;

}



.container15 p{
    color: #7e8690;
    border-top: 1px solid rgba(255, 255, 255, 0.03);
    padding-top: 24px;
}

.container15 p a{
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}








/* MEDIA QUERY SCREEN */









@media screen and (min-width:1024px) and (max-width:1440px){

    /* NAVIGATION BAR */


    .backcolor{
        padding:20px 32px;
    }


    .quote{
        padding: 12px 13px;
        font-size: 10px;
        letter-spacing: 1px;
    }


}





@media screen and (min-width:768px) and (max-width:1024px){


    /* NAVIGATION BAR */


    .navbar{
        margin-left: 10px;
        margin-right: 10px;
    
        
    }

    .home{
        margin-left: 195px;
    }



    /* SECTION BIG TITLE */



    .container1{
        margin-left:120px;
        margin-right:120px;
    }



    /* SECTION ABOUT */



    .col{
        width: 100%;
        
    }



    /* SECTION COUNTER */



    .col3{
        margin: 0px 40px;
    }



    /* SECTION TEAM */



    .container10{
        margin-left: 0px;
        margin-right: 0px;
    }



    /* SECTION PARTNERS */



    .container4{
        margin: 0px 16px;
    }



    /* FOOTER */



    .col22{
        margin-left: 150px;
        margin-right: 150px;
    }





}







@media screen and (min-width:320px) and (max-width:480px){


    /* NAVIGATION BAR */


    .backcolor{
        position:static;
    }


    .container69{
        text-align: center;
    }

    .choices{
        justify-content: center;
    }

    .sections{
        margin-left:0px;
        padding: 8px 16px;
    }    

    .dropdown{
        margin-left:0px;
        padding: 8px 16px;
        
    }

    .blog{
        padding-left: 0px;
    }

    .quotebar{
        margin-left:0px;
        padding: 8px 16px;

    }



    /* SECTION BIG TITLE */




    .container1{
        margin-left: 30px;
        margin-right: 30px;
    }

    .title2{
        font-size: 34px;
        line-height: 45px;
    }



    /* SECTION ABOUT */



    .container{
        margin-left: 0px;
        margin-right: 0px;
    }




    .col{
        width: 90%;
        
    }


    .comp2{
        flex-wrap: wrap;
        
    }



    /* SECTION TEAM */



    .container9{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    
    .col13{
        width: 70%;
        
    }



    /* SECTION TESTIMONIALS */


    .backimg{
        height:100%;
    }


    .comp4{
        width: 80%;
        margin-left: 10px;
        margin-top: 50px;
    }



    /* SECTION PARTNERS */



    .container4{
        margin: 0px 0px;
    }



    /* FOOTER */



    .col22{
        flex-wrap: wrap;
        margin-left: 0px;
        margin-right: 0px;
    }



    .container15{
        margin:0px 0px;
    
    }




    


}    





@media screen and (min-width:375px) and (max-width:425px){


    /* NAVIGATION BAR */


    .navbar{
        margin-left: 100px;
        margin-right: 100px;
    
        
    }

}






@media screen and (max-width:320px){


    /* NAVIGATION BAR */


    .navbar{
        margin-left: 70px;
        margin-right: 70px;
    
        
    }

    

}    







