*{
    font-family: "Source Sans Pro", sans-serif;
    color: #7e8690;
    margin:0px;
    padding:0px;
}

*, ::after, ::before {
    box-sizing: border-box;
}




/* NAVIGATION BAR */





.backcolor{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #2e3238;
    padding:20px 32px;
}



.navbar{
    /* padding:20px 16px;     */
    margin-left: 180px;
    margin-right: 180px;
}


.choices{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
}

.nav_brand{
    color: #fff;
    font-weight: 700;
    font-size: 22px;
}

.sections{
    padding-left: 30px;
}

.home{
    margin-left: 270px;
}

.choices li a{
    text-decoration: none;
}

.sections a{
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 16px;
    transition-duration: 0.25s;
}

.sections:hover a{
    color: #007bff;

}

.dropdown{
    position: relative;
    transition-duration: 0.25s;
}

.blog{
    position: relative;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 16px;
    padding-left: 30px;
    transition-duration: 0.25s;

}

.blog:hover{
    color: #007bff;

}

.dropdown_menu{
    position: absolute;
    width:240px;
    left: 0px;
    top: 150%;
    border-top: 3px solid #4869e8;
    background: #111;
    visibility: hidden;
}


.dropdown_menu li{
    list-style-type: none;
}

.dropdown:hover .dropdown_menu{
    visibility: visible;
}


.drop{
    padding: 9px 23px;
    font-size: 14px;
    transition-duration: 0.25s;
}

.drop a{
    color: #fff;

}

.drop:hover{
    background-color: #007bff;
}

.quotebar{
    padding-left: 30px;

}


.quote{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 13px;
    background: #4869e8;
    color: #fff;
    letter-spacing: 1px;
}

.quote ion-icon{
    color: #fff;
}






/* SECTION BIG TITLE */







.main_box{
    box-sizing: border-box;
}




.slider{
    background: url("./Blog_Media_files/banner-1.jpg") no-repeat 50% 50%;
    background-size: cover;
    height:450px;
    padding-top: 140px;
    padding-bottom: 60px;
    background-position:center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 24, 33, 0.75);
}



.container1{
    /* height: 250px;
    width: 100%; */
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin-left: 350px;
    margin-right: 350px;

}


.title2{
    font-size: 50px;
    line-height: 70px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    /* margin-top: 20px; */
}






/* SECTION BLOG ARTICLES */








.overblog{
    padding: 100px 0px;
}



.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.col{
    height: 650px;
    width: 480px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 16px;
    text-align: center;
}




.blogimg{
    background-image: url("./Blog_Media_files/1.jpg");
    background-size: cover;
    height:50%;
    margin-bottom: 24px;
    border-radius: 4px;
}


.blogimg2{
    background-image: url("./Blog_Media_files/2.jpg");
    background-size: cover;
    height:50%;
    margin-bottom: 24px;
    border-radius: 4px;

}


.blogimg3{
    background-image: url("./Blog_Media_files/3.jpg");
    background-size: cover;
    height:50%;
    margin-bottom: 24px;
    border-radius: 4px;

}


.blogimg4{
    background-image: url("./Blog_Media_files/4.jpg");
    background-size: cover;
    height:50%;
    margin-bottom: 24px;
    border-radius: 4px;

}




.crtvity{
    letter-spacing: 1px;
    font-size: 14px;
    color: #4869e8;
}


.typo{
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 4px;
}

.typo a{
    text-decoration: none;
    color: #111;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
}

.typo:hover a{
    color: #4869e8;
}


.fisher{
    letter-spacing: 1px;
    font-size: 14px;
    margin-right: 16px;
}


.clock{
    letter-spacing: 1px;
    font-size: 14px;

}

.clock ion-icon{
    vertical-align:-10%
}


.quasi{
    color: #7e8690;
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.166667px;
    line-height: 1.7em;
}


.read{
    display: inline-block;
    text-decoration: none;
    padding: 16px 32px;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    border: 1px solid transparent;
    background: #4869e8;
    color: #fff;
    transition-duration: 0.25s;
}

.read:hover{
    background-color: #111;

}







/* SECTION MULTIPAGES */



.numcircle{
    
    text-align: center;
    padding-bottom: 100px;
}


.numbers a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #dedede;
    padding-top: 8px;
    margin-right: 6px;
    font-weight: 700;
    color: #111;
}


.numbers a:first-child{
    background-color: #4869e8;
    border: 1px solid #4869e8;
    color: #fff;
}


.numbers a:last-child ion-icon{
    padding-top: 2px;
    color: #111;

}






/* FOOTER */






.overtitle10{
    padding: 100px 0px;
    background: #24282f;
}    



.col22{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}



.content{
    height:300px;
    width:250px;
    border: 1px solid transparent;
    margin: 16px;
}

.sr{
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 24px;
}


.suprt{
    text-decoration: none;
    color: #fff;

}


.springs{
    margin-top: 24px;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.number{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
}


.company{
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    margin-bottom: 24px;
}


.companydetails{
    list-style-type: none;
    line-height: 35px;
}

.companydetails li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

/* .cy2{
    text-align: center;
    margin-left: 64px;
}


.cd2{
    text-align: center;
} */


.sm3 li a ion-icon{
    margin-right: 8px;
}


.container15{
    text-align: center;
    margin:0px 200px;

}



.container15 p{
    color: #7e8690;
    border-top: 1px solid rgba(255, 255, 255, 0.03);
    padding-top: 24px;
}

.container15 p a{
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}








/* MEDIA QUERY SCREEN */










@media screen and (min-width:1024px) and (max-width:1440px){



    /* NAVIGATION BAR */


    .backcolor{
        padding:20px 32px;
    }


    .quote{
        padding: 12px 13px;
        font-size: 10px;
        letter-spacing: 1px;
    }


}





@media screen and (min-width:768px) and (max-width:1024px){


    /* NAVIGATION BAR */


    .navbar{
        margin-left: 10px;
        margin-right: 10px;
    
        
    }

    .home{
        margin-left: 195px;
    }



    /* SECTION BIG TITLE */



    .container1{
        margin-left:120px;
        margin-right:120px;
    }



    /* FOOTER */



    .col22{
        margin-left: 150px;
        margin-right: 150px;
    }    


    

} 





@media screen and (min-width:320px) and (max-width:480px){


    /* NAVIGATION BAR */


    .backcolor{
        position:static;
    }


    .container{
        text-align: center;
    }

    .choices{
        justify-content: center;
    }

    .sections{
        margin-left:0px;
        padding: 8px 16px;
    }    

    .dropdown{
        margin-left:0px;
        padding: 8px 16px;
        
    }

    .blog{
        padding-left: 0px;
    }

    .quotebar{
        margin-left:0px;
        padding: 8px 16px;

    }



    /* SECTION BIG TITLE */



    .container1{
        margin-left: 30px;
        margin-right: 30px;
    }

    .title2{
        font-size: 34px;
        line-height: 45px;
    }



    /* FOOTER */



    .col22{
        flex-wrap: wrap;
        margin-left: 0px;
        margin-right: 0px;
    }



    .container15{
        margin:0px 0px;
    
    }       




} 




@media screen and (min-width:375px) and (max-width:425px){


    /* NAVIGATION BAR */


    .navbar{
        margin-left: 100px;
        margin-right: 100px;
    
        
    }

}




@media screen and (max-width:320px){


    /* NAVIGATION BAR */


    .navbar{
        margin-left: 70px;
        margin-right: 70px;
    
        
    }




}    











